
@using Sample.Template.Models
@model KaffeKoppPart

@{
    Script.Require("jQuery");
}

<fieldset>
    <legend>@T("Details")</legend>
	    @Html.LabelFor(m => m.Deciliter, T("Deciliter"))
    @Html.TextBoxFor(m => m.Deciliter)
    @Html.LabelFor(m => m.Handtag, T("Handtag"))
    @Html.TextBoxFor(m => m.Handtag)
    @Html.LabelFor(m => m.Färg, T("Färg"))
    @Html.TextBoxFor(m => m.Färg)
    @Html.LabelFor(m => m.Namn, T("Namn"))
    @Html.TextBoxFor(m => m.Namn)
    @Html.LabelFor(m => m.NewProp1, T("NewProp1"))
    @Html.TextBoxFor(m => m.NewProp1)
    @Html.LabelFor(m => m.NewProp2, T("NewProp2"))
    @Html.TextBoxFor(m => m.NewProp2)
    @Html.LabelFor(m => m.NewProp3, T("NewProp3"))
    @Html.TextBoxFor(m => m.NewProp3)
    @Html.LabelFor(m => m.NewProp4, T("NewProp4"))
    @Html.TextBoxFor(m => m.NewProp4)
    <span class="hint">Enter multiple keywords separated by commas. This is used to generate the Similar Movies list.</span>
</fieldset>